<p>auth works!</p>
<p>Nombre del usuario: {{this.usuario.nombre}}</p>
<p>Apellido paterno: {{this.usuario.apellidoPaterno}}</p>
<p>Apellido materno: {{this.usuario.apellidoMaterno}}</p>
<p>Número telefónico: {{this.usuario.numeroTelefonico}}</p>
<p>Nombre de usuario: {{this.usuario.nombreUsuario}}</p>

<p>ISBN: {{this.libro.ISBN}}</p>
<p>Título: {{this.libro.titulo}}</p>
<p>Autor: {{this.libro.autor}}</p>
<p>Editorial: {{this.libro.editorial}}</p>
<p>Fecha de publicación: {{this.libro.fechaPublicacion}}</p>
<p>Ejemplares disponibles: {{this.libro.numeroEjemplaresDisponibles}}</p>


<p>Fecha de inicio: {{this.prestamo.fechaInicio}}</p>
<p>Fecha de devolución: {{this.prestamo.fechaDevolucion}}</p>
<p>Usuario: {{this.prestamo.usuario}}</p>